.auth {
  width: 100%;
  min-height: 100vh;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fb;
}

.Upper_heading h2 {
  margin-top: 50px;
  font-family: "Mozilla Text", serif;
  color: #083f75;
}

.signin-subtitle {
  margin-top: 10px;
  font-family: "Mozilla Text", serif;
  color: #15172b;
  margin-left: -15px;
  opacity: 0.75;
}

.Big_box {
  margin-top: 20px;
  height: 530px;
  width: 400px;
  border: 1px solid #e5e7eb;
  background: white;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 30px;
}

.btn {
  display: flex;
}
.btn button {
  height: 30px;
  width: 330px;
  border: 1px solid #e5e7eb;
  background: #f8f9fb;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.heading1 {
  margin-top: 40px;
  font-family: "Mozilla Text", serif;
  color: rgb(34, 34, 34);
}
.Type_email_address input {
  margin-top: -50px;
  height: 30px;
  width: 330px;
  border: 1px solid #e5e7eb;
  background: #f8f9fb;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  padding-left: 30px;
}

.Mail_icon {
  position: relative;
  top: 20px;
  left: 10px;
  color: rgb(169, 166, 166);
  opacity: 0.75px;
  font-size: 12px;
}

.heading2 {
  margin-top: 40px;
  font-family: "Mozilla Text", serif;
  color: rgb(34, 34, 34);
}
.Type_password input {
  margin-top: -50px;
  height: 30px;
  width: 330px;
  border: 1px solid #e5e7eb;
  background: #f8f9fb;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  padding-left: 30px;
}

.lock_icon {
  position: relative;
  top: 20px;
  left: 10px;
  color: rgb(169, 166, 166);
  opacity: 0.75px;
  font-size: 12px;
}

.eye_icon {
  position: relative;
  top: -23px;
  left: 300px;
  color: rgb(169, 166, 166);
  opacity: 0.75px;
  font-size: 14px;
  cursor: pointer;
}

.Type_password h6 {
  position: relative;
  left: 250px;
  top: -10px;
  font-family: "Mozilla Text", serif;
  font-size: 9px;
  color: #051728;
}

.btn2 {
  display: relative;
}

.btn2 button {
  height: 30px;
  width: 330px;
  border: 1px solid #e5e7eb;
  background: #083f75;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  margin-top: 25px;
  color: white;
  font-family: "Mozilla Text", serif;
  font-size: 12px;
  font-weight: bold;
}

.heading3 h6 {
  display: flex;
  margin-left: 5px;
  margin-top: 20px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(169, 166, 166);
}

.btn3 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.btn3 button {
  height: 30px;
  width: 330px;
  border: 1px solid #e5e7eb;
  background: #f8f9fb;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  color: black;
  font-size: 12px;
  font-weight: bold;
  color: #083f75;
}
.google_icon {
  position: relative;
  top: 22px;
  left: 90px;
  opacity: 0.75px;
  font-size: 14px;
}

.apple_icon {
  position: relative;
  top: 22px;
  left: 90px;
  color: black;
  opacity: 0.75px;
}

.heading4 h6 {
  margin-left: 90px;
  margin-top: 20px;
  color: #083f75;
  font-family: "Mozilla Text", serif;
  font-size: 10px;
}

.signup-subtitle {
  margin-top: 10px;
  margin-left: 5px;
  font-family: "Mozilla Text", serif;
  color: #15172b;
  opacity: 0.75;
}

.heading4 span {
  position: relative;
  top: -17px;
  left: 219px;
  color: #083f75;
  font-family: "Mozilla Text", serif;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}
